
@media (min-width: 768px) {

	.navbar-expand .navbar-toggler {
		display: block;
	}
	
	.sidebar:not(.show) {
		display: none;
	}
	
	.sidebar:not(.show) + .page-wrapper {
		left: 0;
	}

}

.page-wrapper .page-content {
	padding-top: 0;
}

.thoughtco_printerbar {
	display: none !important;
}

@media (min-width: 1280px) {
	
	.kds-card {
		max-width: 320px;
	}
	
}